CAB0100/Service References/CAB0100SvcRef/CAB0100Svc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAB0100Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAB0100Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_CompanyOfficeDTO" nillable="true" type="tns:ArrayOfLKM_CompanyOfficeDTO" />
  <xs:complexType name="LKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_OFFICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
  <xs:complexType name="ArrayOfLKM_ParamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_ParamDTO" nillable="true" type="tns:LKM_ParamDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_ParamDTO" nillable="true" type="tns:ArrayOfLKM_ParamDTO" />
  <xs:complexType name="LKM_ParamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PARAMETER_VALUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_ParamDTO" nillable="true" type="tns:LKM_ParamDTO" />
</xs:schema>