CAB0100/Service References/CAB0100SvcRef/CAB0100Svc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CAB0100Svc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SC_Common" />
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CAB0100Back" />
      <xsd:import schemaLocation="http://localhost:42007/SIMARCBack/CAB0100Svc.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICAB0100Svc_getCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompany" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_getCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_getCompany_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q1:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_Import_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q2:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_getParamDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:getParamDoc" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_getParamDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParamDocResponse" />
  </wsdl:message>
  <wsdl:message name="ICAB0100Svc_getParamDoc_SC_ServiceExceptionsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SC_Common" name="detail" element="q3:SC_ServiceExceptions" />
  </wsdl:message>
  <wsdl:portType name="ICAB0100Svc">
    <wsdl:operation name="getCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAB0100Svc/getCompany" message="tns:ICAB0100Svc_getCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAB0100Svc/getCompanyResponse" message="tns:ICAB0100Svc_getCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICAB0100Svc/getCompanySC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ICAB0100Svc_getCompany_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAB0100Svc/Import" message="tns:ICAB0100Svc_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAB0100Svc/ImportResponse" message="tns:ICAB0100Svc_Import_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICAB0100Svc/ImportSC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ICAB0100Svc_Import_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParamDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAB0100Svc/getParamDoc" message="tns:ICAB0100Svc_getParamDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAB0100Svc/getParamDocResponse" message="tns:ICAB0100Svc_getParamDoc_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICAB0100Svc/getParamDocSC_ServiceExceptionsFault" name="SC_ServiceExceptionsFault" message="tns:ICAB0100Svc_getParamDoc_SC_ServiceExceptionsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICAB0100Svc" type="tns:ICAB0100Svc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCompany">
      <soap:operation soapAction="http://tempuri.org/ICAB0100Svc/getCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/ICAB0100Svc/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParamDoc">
      <soap:operation soapAction="http://tempuri.org/ICAB0100Svc/getParamDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SC_ServiceExceptionsFault">
        <soap:fault use="literal" name="SC_ServiceExceptionsFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAB0100Svc">
    <wsdl:port name="BasicHttpBinding_ICAB0100Svc" binding="tns:BasicHttpBinding_ICAB0100Svc">
      <soap:address location="http://localhost:42007/SIMARCBack/CAB0100Svc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>