SCM0200/Service References/SCM0200SvcRef/SCM0200Svc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCM0200Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCM0200Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/SCM0200Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:complexType name="SCM0200DTO01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SC_BackEnd" base="q1:SC_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="REGIONAL_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SCM0200DTO01" nillable="true" type="tns:SCM0200DTO01" />
  <xs:complexType name="ArrayOfSCM0200DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCM0200DTO02" nillable="true" type="tns:SCM0200DTO02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCM0200DTO02" nillable="true" type="tns:ArrayOfSCM0200DTO02" />
  <xs:complexType name="SCM0200DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REGIONAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCM0200DTO02" nillable="true" type="tns:SCM0200DTO02" />
  <xs:complexType name="ArrayOfLKM_RegionalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_RegionalDTO" nillable="true" type="tns:LKM_RegionalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_RegionalDTO" nillable="true" type="tns:ArrayOfLKM_RegionalDTO" />
  <xs:complexType name="LKM_RegionalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="REGIONAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGIONAL_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_RegionalDTO" nillable="true" type="tns:LKM_RegionalDTO" />
</xs:schema>