SYS0500/Service References/SYS0501SvcRef/SYS0501Svc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SYS0500Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SYS0500Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/SYS0501Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:complexType name="SYS0501DTO01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SC_BackEnd" base="q1:SC_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ROLE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SYS0501DTO01" nillable="true" type="tns:SYS0501DTO01" />
  <xs:complexType name="ArrayOfSYS0501DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS0501DTO02" nillable="true" type="tns:SYS0501DTO02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS0501DTO02" nillable="true" type="tns:ArrayOfSYS0501DTO02" />
  <xs:complexType name="SYS0501DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROLE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS0501DTO02" nillable="true" type="tns:SYS0501DTO02" />
  <xs:complexType name="ArrayOfLKM_RoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_RoleDTO" nillable="true" type="tns:LKM_RoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_RoleDTO" nillable="true" type="tns:ArrayOfLKM_RoleDTO" />
  <xs:complexType name="LKM_RoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ROLE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_RoleDTO" nillable="true" type="tns:LKM_RoleDTO" />
</xs:schema>