RPR0200/Service References/RPR0200SvcRef/RPR0200Svc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/RPR0200Svc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RPR0200Back" />
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/RPR0200Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/RPR0200Svc.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Svc_SC_GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="poEntity" nillable="true" type="q1:RPR0200DTO01" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SC_BackEnd" minOccurs="0" name="poCRUDMode" type="q2:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="Svc_SC_GetRecordResult" nillable="true" type="q3:RPR0200DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="poEntity" nillable="true" type="q4:RPR0200DTO01" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SC_BackEnd" minOccurs="0" name="poCRUDMode" type="q5:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="Svc_SC_SaveResult" nillable="true" type="q6:RPR0200DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="poEntity" nillable="true" type="q7:RPR0200DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poparam" nillable="true" type="q8:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getListResult" nillable="true" type="q9:ArrayOfRPR0200DTO02" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getList_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="poparam" nillable="true" type="q10:RPR0200DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getList_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getList_DetailResult" nillable="true" type="q11:ArrayOfRepair_DetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poparam" nillable="true" type="q12:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getCompanyResult" nillable="true" type="q13:ArrayOfLKM_CompanyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOffice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poparam" nillable="true" type="q14:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOfficeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getOfficeResult" nillable="true" type="q15:ArrayOfLKM_CompanyOfficeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutlet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poparam" nillable="true" type="q16:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getOutletResult" nillable="true" type="q17:ArrayOfLKM_OutletDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSparepart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KD_PART" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyOfficeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSparepartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RPR0200Back" minOccurs="0" name="getSparepartResult" nillable="true" type="q18:ArrayOfLKM_SparepartDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>