MTN0100/Service References/MTN0100SvcRef/MTN01004.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MTN0100Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MTN0100Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/MTN0100.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:complexType name="MTN0100DTO01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SC_BackEnd" base="q1:SC_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BARCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FROM_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MAINTENANCE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OUTLET_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TO_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MTN0100DTO01" nillable="true" type="tns:MTN0100DTO01" />
  <xs:complexType name="ArrayOfMTN0100DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MTN0100DTO02" nillable="true" type="tns:MTN0100DTO02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMTN0100DTO02" nillable="true" type="tns:ArrayOfMTN0100DTO02" />
  <xs:complexType name="MTN0100DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" name="BARCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FROM_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MAINTENANCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUTLET_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTN0100DTO02" nillable="true" type="tns:MTN0100DTO02" />
  <xs:complexType name="ArrayOfMaintenance_DetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maintenance_DetailDTO" nillable="true" type="tns:Maintenance_DetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaintenance_DetailDTO" nillable="true" type="tns:ArrayOfMaintenance_DetailDTO" />
  <xs:complexType name="Maintenance_DetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BROKEN" type="xs:boolean" />
      <xs:element minOccurs="0" name="CASE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GOOD" type="xs:boolean" />
      <xs:element minOccurs="0" name="MAINTENANCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR" type="xs:boolean" />
      <xs:element minOccurs="0" name="MINOR" type="xs:boolean" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maintenance_DetailDTO" nillable="true" type="tns:Maintenance_DetailDTO" />
  <xs:complexType name="ArrayOfLKM_CompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_CompanyDTO" nillable="true" type="tns:LKM_CompanyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_CompanyDTO" nillable="true" type="tns:ArrayOfLKM_CompanyDTO" />
  <xs:complexType name="LKM_CompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_CompanyDTO" nillable="true" type="tns:LKM_CompanyDTO" />
  <xs:complexType name="ArrayOfLKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_CompanyOfficeDTO" nillable="true" type="tns:ArrayOfLKM_CompanyOfficeDTO" />
  <xs:complexType name="LKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_OFFICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
</xs:schema>