RPR0100/Service References/RPR0100SvcRef/RPR0100Svc4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RPR0100Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RPR0100Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/RPR0100Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:complexType name="RPR0100DTO01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SC_BackEnd" base="q1:SC_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HARGA_PART" type="xs:decimal" />
          <xs:element minOccurs="0" name="KD_PART" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NAMA_PART" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SATUAN_PART" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STOCK_PART" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RPR0100DTO01" nillable="true" type="tns:RPR0100DTO01" />
  <xs:complexType name="ArrayOfRPR0100DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RPR0100DTO02" nillable="true" type="tns:RPR0100DTO02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRPR0100DTO02" nillable="true" type="tns:ArrayOfRPR0100DTO02" />
  <xs:complexType name="RPR0100DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HARGA_PART" type="xs:decimal" />
      <xs:element minOccurs="0" name="KD_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAMA_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SATUAN_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCK_PART" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RPR0100DTO02" nillable="true" type="tns:RPR0100DTO02" />
</xs:schema>