SYS0400/Service References/SYS0401SvcRef/SYS0401Svc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/SYS0401Svc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SYS0400Back" />
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/SYS0401Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:element name="Svc_SC_GetRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="poEntity" nillable="true" type="q1:SYS0401DTO01" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SC_BackEnd" minOccurs="0" name="poCRUDMode" type="q2:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_GetRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="Svc_SC_GetRecordResult" nillable="true" type="q3:SYS0401DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="poEntity" nillable="true" type="q4:SYS0401DTO01" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SC_BackEnd" minOccurs="0" name="poCRUDMode" type="q5:eCRUDMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="Svc_SC_SaveResult" nillable="true" type="q6:SYS0401DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="poEntity" nillable="true" type="q7:SYS0401DTO01" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Svc_SC_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="GetListResult" nillable="true" type="q8:ArrayOfSYS0401DTO02" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SYS0400Back" minOccurs="0" name="GetList_AppResult" nillable="true" type="q9:ArrayOfLKMSys_AppDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>