SYS0500/Service References/SYS0500SvcRef/SYS0500Svc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SYS0500Back" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SYS0500Back" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42007/SIMARCBack/SYS0500Svc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SC_BackEnd" />
  <xs:complexType name="SYS0500DTO01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SC_BackEnd" base="q1:SC_DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPANY_OFFICE_MAP_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DEFAULT_APP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_NO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALID_FROM" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VALID_TO" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SYS0500DTO01" nillable="true" type="tns:SYS0500DTO01" />
  <xs:complexType name="ArrayOfSYS0500DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS0500DTO02" nillable="true" type="tns:SYS0500DTO02" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS0500DTO02" nillable="true" type="tns:ArrayOfSYS0500DTO02" />
  <xs:complexType name="SYS0500DTO02">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_MAP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREA_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEFAULT_APP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALID_FROM" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VALID_TO" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS0500DTO02" nillable="true" type="tns:SYS0500DTO02" />
  <xs:complexType name="ArrayOfLKM_RegionalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_RegionalDTO" nillable="true" type="tns:LKM_RegionalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_RegionalDTO" nillable="true" type="tns:ArrayOfLKM_RegionalDTO" />
  <xs:complexType name="LKM_RegionalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="REGIONAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGIONAL_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_RegionalDTO" nillable="true" type="tns:LKM_RegionalDTO" />
  <xs:complexType name="ArrayOfLKM_CompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_CompanyDTO" nillable="true" type="tns:LKM_CompanyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_CompanyDTO" nillable="true" type="tns:ArrayOfLKM_CompanyDTO" />
  <xs:complexType name="LKM_CompanyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_CompanyDTO" nillable="true" type="tns:LKM_CompanyDTO" />
  <xs:complexType name="ArrayOfLKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLKM_CompanyOfficeDTO" nillable="true" type="tns:ArrayOfLKM_CompanyOfficeDTO" />
  <xs:complexType name="LKM_CompanyOfficeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMPANY_OFFICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_OFFICE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LKM_CompanyOfficeDTO" nillable="true" type="tns:LKM_CompanyOfficeDTO" />
</xs:schema>